{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
         
        {% endblock %}
            by Marco Avaria
    </title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
</head>

<body>
    <!-- Header de la página -->
    <header>
       <div id='logotipo'>
           <!-- Aquí va el logo -->
           <img src="{% static 'images/logo.png' %}">
           <h1>WebSite with Django | Marco Avaria</h1>
        </div>
    </header>

    <nav>
        <ul>
            <li>
                <a href="{% url 'inicio' %}">Inicio</a>
            </li>
            <li>
                <!-- <a href="/hola-mundo">Hola Mundo</a> -->
                <a href="{% url 'hola-mundo' %}">Hola Mundo</a>
            </li>
            <li>
                <!-- <a href="/pagina-pruebas">Página de pruebas</a> -->
                <a href="{% url 'pagina-pruebas' %}">Página de pruebas</a>
            </li>
            <li>
                <a href="{% url 'contacto' 'Marco' 'Avaria' %}">Contacto</a>
            </li>
        </ul>
    </nav>

    <!-- Debería poder ocupar  
            "margin-bottom: 100px;"
        Pero no parece servir -->
    <!-- <div style="height: 145px;"></div> -->
    <!-- <hr/> -->

    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div>
    <div id="content">
        <div class="box">
            {% block content %}
                <strong>Contenido del bloque original</strong> 
            {% endblock %}
        </div>
    </div>

    <footer>
        Master en Python &copy; Marco Avaria {% now "d/m/Y" %}
    </footer>    
</body>
</html>